@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');


nav {
   background-color: #e9ed1f;
   padding: 5px;
   position: sticky;
   top: 0;
 }

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

nav a:hover {
   font-weight: bold;
}

li{
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}

.jumbotron {
   padding: 60px;
   background-color: #cceb00;
   text-align: center;
   font-size: 20px;
   color: white;
 }

 header {
   display: inline;
}

body {
    font-family:'Quicksabd', sans-serif;
    margin: 0;
    padding: 0;
 }
  
 h2,h3 {
    color: #cceb00;
 }

 .featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}

#content {
   float: left;
   width: 75%;
   text-align: justify;
 }

main {
   padding: 20px;
   overflow: auto;
 }
  
.profile{
   text-align: center;
}

.profile img {
   width: 200px;
}

aside {
   float: right;
   width: 25%;
   padding-left: 20px;
 }

 * {
   box-sizing: border-box;
 }

 @media screen and (max-width: 1000px) {
   #content,
   aside {
     width: 100%;
     padding: 0;
   }
 }

.card {
   box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);;
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

 footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #cceb00;
    font-weight: bold;
 }

 .login {
   padding: 1em;
   margin: 2em auto;
   width: 17em;
   background: #fff;
   border-radius: 3px;
 }
 
 label {
   font-size: 10pt;
   color: #555;
 }
 
 input[type="text"],
 input[type="email"],
 textarea {
   padding: 8px;
   width: 95%;
   background: #efefef;
   border: 0;
   font-size: 10pt;
   margin: 6px 0px;
 }
 
 .tombol {
   background: #3498db;
   color: #fff;
   border: 0;
   padding: 5px 8px;
 }
 